@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    font-family: 'Roboto Mono', monospace;
    margin:0%;
}

.nav_bar{
    display: flex;
}

.bar_img{
    height: 100px;
}

.nav_bar h1{
    display: flex;
    align-items: center;
}

.nav-list-iteam{
    list-style-type: none;
}
.nav-list-iteam-link{
    text-decoration: none;
}